/*! 6.2.9. Chat Message */
.chat{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.chat.right{
  -webkit-box-orient:horizontal;
  -webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;
          flex-direction:row-reverse;
}
.chat.right .chat-photo{
  margin-left:var(--space-base);
  margin-right:var(--space-none);
}
.chat.right .chat-message{
  background-color:var(--background-color-indigo, var(--color-indigo));
  color:var(--text-color-neutral-0, var(--color-neutral-0));
  text-align:right;
}
.chat-photo{
  margin-right:var(--space-base);
}
.chat-photo img{
  border-radius:var(--border-radius-circle);
  height:40px;
  -o-object-fit:cover;
     object-fit:cover;
  width:40px;
}
.chat-message{
  background-color:var(--background-color-neutral-3, var(--color-neutral-3));
  border-radius:var(--border-radius-soft);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  max-width:600px;
  padding:var(--space-base);
  position:relative;
  word-break:break-word;
}
.chat-message-status{
  display:block;
  font-size:var(--font-size-xs);
  margin-top:var(--space-s);
}
.chat-message-status.hidden{
  display:none;
}
.is-rtl .chat.right .chat-photo{
  margin-left:var(--space-none);
  margin-right:var(--space-base);
}
.is-rtl .chat-photo{
  margin-left:var(--space-base);
  margin-right:0;
}
