/*! 6.2.12. List Item Content */
.list-item-content{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.list-item-content-left{
  max-width:120px;
  padding-right:var(--space-m);
}
.list-item-content-center{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  overflow:hidden;
}
.list-item-content-right{
  padding-left:var(--space-m);
}
.list-item-content-title, .list-item-content-text{
  overflow:hidden;
  -o-text-overflow:ellipsis;
     text-overflow:ellipsis;
  white-space:nowrap;
}
.list-item-content-title{
  color:var(--text-color-neutral-10, var(--color-neutral-10));
  font-size:var(--font-size-h5);
  font-weight:var(--font-semi-bold);
}
.list-item-content-text{
  color:var(--text-color-neutral-7, var(--color-neutral-7));
}
.layout-native .list-item-content-left{
  padding-right:var(--space-base);
}
.layout-native .list-item-content-right{
  padding-left:var(--space-base);
}
.tablet .list-item-content-title{
  font-size:calc(var(--font-size-h5) - 1px);
}
.phone .list-item-content-title{
  font-size:calc(var(--font-size-h5) - 2px);
}
.is-rtl .list-item-content-left{
  padding-left:var(--space-m);
  padding-right:0;
}
.is-rtl .list-item-content-right{
  padding-left:0;
  padding-right:var(--space-m);
}
.is-rtl .layout-native .list-item-content-left{
  padding-left:var(--space-base);
  padding-right:0;
}
.is-rtl .layout-native .list-item-content-right{
  padding-left:0;
  padding-right:var(--space-base);
}
.is-rtl [data-list-item] .list-item-float-left{
  float:right;
}
.is-rtl [data-list-item] .list-item-float-right{
  float:left;
}
