// Buttons
//
// Standard button styles for the project.
//
// Markup:
// <button class="btn {{modifier_class}}">Click me</button>
//
// .btn--primary - Primary action button
// .btn--secondary - Secondary action button
//
// Weight: 1
//
// Styleguide Components.Buttons

.btn--primary {
  color: red;
}

.btn--secondary {
  color: blue;
}