/*! ==============================================================================
9. Keyframes - Animations
=============================================================================== */
/*! 9.1. Animate */
@-webkit-keyframes bottomtotop{
  from{
    opacity:0;
    -webkit-transform:translateX(0) translateY(60%) translateZ(0);
            transform:translateX(0) translateY(60%) translateZ(0);
  }
  to{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0);
            transform:translateX(0) translateY(0) translateZ(0);
  }
}
@keyframes bottomtotop{
  from{
    opacity:0;
    -webkit-transform:translateX(0) translateY(60%) translateZ(0);
            transform:translateX(0) translateY(60%) translateZ(0);
  }
  to{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0);
            transform:translateX(0) translateY(0) translateZ(0);
  }
}
@-webkit-keyframes bounce{
  from, 20%, 53%, 80%, to{
    -webkit-transform:translateX(0) translateY(0) translateZ(0);
            transform:translateX(0) translateY(0) translateZ(0);
  }
  40%, 43%{
    -webkit-transform:translateX(0) translateY(-30px) translateZ(0);
            transform:translateX(0) translateY(-30px) translateZ(0);
  }
  70%{
    -webkit-transform:translateX(0) translateY(-15px) translateZ(0);
            transform:translateX(0) translateY(-15px) translateZ(0);
  }
  90%{
    -webkit-transform:translateX(0) translateY(-4px) translateZ(0);
            transform:translateX(0) translateY(-4px) translateZ(0);
  }
}
@keyframes bounce{
  from, 20%, 53%, 80%, to{
    -webkit-transform:translateX(0) translateY(0) translateZ(0);
            transform:translateX(0) translateY(0) translateZ(0);
  }
  40%, 43%{
    -webkit-transform:translateX(0) translateY(-30px) translateZ(0);
            transform:translateX(0) translateY(-30px) translateZ(0);
  }
  70%{
    -webkit-transform:translateX(0) translateY(-15px) translateZ(0);
            transform:translateX(0) translateY(-15px) translateZ(0);
  }
  90%{
    -webkit-transform:translateX(0) translateY(-4px) translateZ(0);
            transform:translateX(0) translateY(-4px) translateZ(0);
  }
}
@-webkit-keyframes fadein{
  0%{
    opacity:0;
  }
  20%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@keyframes fadein{
  0%{
    opacity:0;
  }
  20%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@-webkit-keyframes lefttoright{
  0%{
    opacity:0;
    -webkit-transform:translateX(-60%) translateY(0) translateZ(0);
            transform:translateX(-60%) translateY(0) translateZ(0);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0);
            transform:translateX(0) translateY(0) translateZ(0);
  }
}
@keyframes lefttoright{
  0%{
    opacity:0;
    -webkit-transform:translateX(-60%) translateY(0) translateZ(0);
            transform:translateX(-60%) translateY(0) translateZ(0);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0);
            transform:translateX(0) translateY(0) translateZ(0);
  }
}
@-webkit-keyframes righttoleft{
  0%{
    opacity:0;
    -webkit-transform:translateX(60%) translateY(0) translateZ(0);
            transform:translateX(60%) translateY(0) translateZ(0);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0);
            transform:translateX(0) translateY(0) translateZ(0);
  }
}
@keyframes righttoleft{
  0%{
    opacity:0;
    -webkit-transform:translateX(60%) translateY(0) translateZ(0);
            transform:translateX(60%) translateY(0) translateZ(0);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0);
            transform:translateX(0) translateY(0) translateZ(0);
  }
}
@-webkit-keyframes toptobottom{
  0%{
    opacity:0;
    -webkit-transform:translateX(0) translateY(-60%) translateZ(0);
            transform:translateX(0) translateY(-60%) translateZ(0);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0);
            transform:translateX(0) translateY(0) translateZ(0);
  }
}
@keyframes toptobottom{
  0%{
    opacity:0;
    -webkit-transform:translateX(0) translateY(-60%) translateZ(0);
            transform:translateX(0) translateY(-60%) translateZ(0);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0);
            transform:translateX(0) translateY(0) translateZ(0);
  }
}
@-webkit-keyframes scale{
  0%{
    opacity:0;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(0);
            transform:translateX(0) translateY(0) translateZ(0) scale(0);
  }
  80%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(1.2);
            transform:translateX(0) translateY(0) translateZ(0) scale(1.2);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(1);
            transform:translateX(0) translateY(0) translateZ(0) scale(1);
  }
}
@keyframes scale{
  0%{
    opacity:0;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(0);
            transform:translateX(0) translateY(0) translateZ(0) scale(0);
  }
  80%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(1.2);
            transform:translateX(0) translateY(0) translateZ(0) scale(1.2);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(1);
            transform:translateX(0) translateY(0) translateZ(0) scale(1);
  }
}
@-webkit-keyframes scaledown{
  0%{
    opacity:0;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(1.5);
            transform:translateX(0) translateY(0) translateZ(0) scale(1.5);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(1);
            transform:translateX(0) translateY(0) translateZ(0) scale(1);
  }
}
@keyframes scaledown{
  0%{
    opacity:0;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(1.5);
            transform:translateX(0) translateY(0) translateZ(0) scale(1.5);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(1);
            transform:translateX(0) translateY(0) translateZ(0) scale(1);
  }
}
@-webkit-keyframes scaleup{
  0%{
    opacity:0;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(0);
            transform:translateX(0) translateY(0) translateZ(0) scale(0);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(1);
            transform:translateX(0) translateY(0) translateZ(0) scale(1);
  }
}
@keyframes scaleup{
  0%{
    opacity:0;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(0);
            transform:translateX(0) translateY(0) translateZ(0) scale(0);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0) translateY(0) translateZ(0) scale(1);
            transform:translateX(0) translateY(0) translateZ(0) scale(1);
  }
}
@-webkit-keyframes spinner{
  0%{
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(359deg);
            transform:rotate(359deg);
  }
}
@keyframes spinner{
  0%{
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(359deg);
            transform:rotate(359deg);
  }
}
/*! 9.2. Button Loading */
@-webkit-keyframes loadingSpinner{
  0%{
    -webkit-transform:rotate(0deg) translateZ(0);
            transform:rotate(0deg) translateZ(0);
  }
  100%{
    -webkit-transform:rotate(360deg) translateZ(0);
            transform:rotate(360deg) translateZ(0);
  }
}
@keyframes loadingSpinner{
  0%{
    -webkit-transform:rotate(0deg) translateZ(0);
            transform:rotate(0deg) translateZ(0);
  }
  100%{
    -webkit-transform:rotate(360deg) translateZ(0);
            transform:rotate(360deg) translateZ(0);
  }
}
/*! 9.3. List Item */
@-webkit-keyframes list-item-scale-animation{
  from{
    opacity:0.3;
    -webkit-transform:scale(0, 1) translateZ(0);
            transform:scale(0, 1) translateZ(0);
  }
  to{
    opacity:0;
    -webkit-transform:scale(400, 300) translateZ(0);
            transform:scale(400, 300) translateZ(0);
  }
}
@keyframes list-item-scale-animation{
  from{
    opacity:0.3;
    -webkit-transform:scale(0, 1) translateZ(0);
            transform:scale(0, 1) translateZ(0);
  }
  to{
    opacity:0;
    -webkit-transform:scale(400, 300) translateZ(0);
            transform:scale(400, 300) translateZ(0);
  }
}
/*! 9.4. Feedback Message */
@-webkit-keyframes feedbackMessageSlideDownThenUp{
  0%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
  5%{
    -webkit-transform:translateY(24px) translateX(-50%) translateZ(0);
            transform:translateY(24px) translateX(-50%) translateZ(0);
  }
  95%{
    -webkit-transform:translateY(24px) translateX(-50%) translateZ(0);
            transform:translateY(24px) translateX(-50%) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
}
@keyframes feedbackMessageSlideDownThenUp{
  0%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
  5%{
    -webkit-transform:translateY(24px) translateX(-50%) translateZ(0);
            transform:translateY(24px) translateX(-50%) translateZ(0);
  }
  95%{
    -webkit-transform:translateY(24px) translateX(-50%) translateZ(0);
            transform:translateY(24px) translateX(-50%) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
}
@-webkit-keyframes feedbackMessageSlideDown{
  0%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(24px) translateX(-50%) translateZ(0);
            transform:translateY(24px) translateX(-50%) translateZ(0);
  }
}
@keyframes feedbackMessageSlideDown{
  0%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(24px) translateX(-50%) translateZ(0);
            transform:translateY(24px) translateX(-50%) translateZ(0);
  }
}
@-webkit-keyframes feedbackMessageSlideDownThenUpPhone{
  0%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
  5%{
    -webkit-transform:translateY(0) translateX(-50%) translateZ(0);
            transform:translateY(0) translateX(-50%) translateZ(0);
  }
  95%{
    -webkit-transform:translateY(0) translateX(-50%) translateZ(0);
            transform:translateY(0) translateX(-50%) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
}
@keyframes feedbackMessageSlideDownThenUpPhone{
  0%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
  5%{
    -webkit-transform:translateY(0) translateX(-50%) translateZ(0);
            transform:translateY(0) translateX(-50%) translateZ(0);
  }
  95%{
    -webkit-transform:translateY(0) translateX(-50%) translateZ(0);
            transform:translateY(0) translateX(-50%) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
}
@-webkit-keyframes feedbackMessageSlideDownPhone{
  0%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(0) translateX(-50%) translateZ(0);
            transform:translateY(0) translateX(-50%) translateZ(0);
  }
}
@keyframes feedbackMessageSlideDownPhone{
  0%{
    -webkit-transform:translateY(-100%) translateX(-50%) translateZ(0);
            transform:translateY(-100%) translateX(-50%) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(0) translateX(-50%) translateZ(0);
            transform:translateY(0) translateX(-50%) translateZ(0);
  }
}
@-webkit-keyframes feedbackMessageSlideDownThenUpPhoneRTL{
  0%{
    -webkit-transform:translateY(-100%) translateX(0) translateZ(0);
            transform:translateY(-100%) translateX(0) translateZ(0);
  }
  5%{
    -webkit-transform:translateY(0) translateX(0) translateZ(0);
            transform:translateY(0) translateX(0) translateZ(0);
  }
  95%{
    -webkit-transform:translateY(0) translateX(0) translateZ(0);
            transform:translateY(0) translateX(0) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(-100%) translateX(0) translateZ(0);
            transform:translateY(-100%) translateX(0) translateZ(0);
  }
}
@keyframes feedbackMessageSlideDownThenUpPhoneRTL{
  0%{
    -webkit-transform:translateY(-100%) translateX(0) translateZ(0);
            transform:translateY(-100%) translateX(0) translateZ(0);
  }
  5%{
    -webkit-transform:translateY(0) translateX(0) translateZ(0);
            transform:translateY(0) translateX(0) translateZ(0);
  }
  95%{
    -webkit-transform:translateY(0) translateX(0) translateZ(0);
            transform:translateY(0) translateX(0) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(-100%) translateX(0) translateZ(0);
            transform:translateY(-100%) translateX(0) translateZ(0);
  }
}
@-webkit-keyframes feedbackMessageSlideDownPhoneRTL{
  0%{
    -webkit-transform:translateY(-100%) translateX(0) translateZ(0);
            transform:translateY(-100%) translateX(0) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(0) translateX(0) translateZ(0);
            transform:translateY(0) translateX(0) translateZ(0);
  }
}
@keyframes feedbackMessageSlideDownPhoneRTL{
  0%{
    -webkit-transform:translateY(-100%) translateX(0) translateZ(0);
            transform:translateY(-100%) translateX(0) translateZ(0);
  }
  100%{
    -webkit-transform:translateY(0) translateX(0) translateZ(0);
            transform:translateY(0) translateX(0) translateZ(0);
  }
}
/*! 9.5. Pull To Refresh */
@-webkit-keyframes ptr-loading{
  0%{
    opacity:0;
    -webkit-transform:translateY(0) scale(0.3);
            transform:translateY(0) scale(0.3);
  }
  100%{
    background-color:var(--background-color-neutral-0, var(--color-neutral-0));
    opacity:1;
    -webkit-transform:scale(1);
            transform:scale(1);
  }
}
@keyframes ptr-loading{
  0%{
    opacity:0;
    -webkit-transform:translateY(0) scale(0.3);
            transform:translateY(0) scale(0.3);
  }
  100%{
    background-color:var(--background-color-neutral-0, var(--color-neutral-0));
    opacity:1;
    -webkit-transform:scale(1);
            transform:scale(1);
  }
}
/*! 9.6. Miscellaneous */
@-webkit-keyframes fade{
  0%, 50%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@keyframes fade{
  0%, 50%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@-webkit-keyframes spin{
  0%{
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
  }
}
@keyframes spin{
  0%{
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
  }
}
