/*! ==============================================================================
1. Resets
=============================================================================== */
*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
html{
  color:var(--text-color-neutral-9, var(--color-neutral-9));
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  overflow:hidden;
  overflow-x:hidden;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
html{
  -servicestudio-overflow:hidden;
}
body{
  background-color:var(--background-color-body, var(--color-background-body));
  direction:ltr;
  font-size:var(--font-size-s);
  line-height:1.5;
  margin:0;
}
:focus{
  outline:0;
}
::-moz-focus-inner{
  border:0;
}
.has-accessible-features :focus{
  -webkit-box-shadow:0 0 0 var(--border-size-l) var(--background-color-focus-outer, var(--color-focus-outer));
          box-shadow:0 0 0 var(--border-size-l) var(--background-color-focus-outer, var(--color-focus-outer));
}
.os-high-contrast .has-accessible-features :focus{
  -webkit-box-shadow:none;
          box-shadow:none;
  outline:var(--border-size-l) solid var(--border-color-focus-outer, var(--color-focus-outer));
}
abbr[title]{
  border-bottom:0;
  text-decoration:underline;
}
div[onclick]{
  cursor:pointer;
}
label{
  color:var(--text-color-neutral-8, var(--color-neutral-8));
}
[data-label].mandatory:after{
  color:var(--text-color-error, var(--color-error));
  margin-left:var(--space-xs);
}
input,
textarea,
select,
button{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  font-family:inherit;
  font-size:100%;
  line-height:1.25;
  margin:0;
}
[type=checkbox],
[type=radio]{
  border:0;
  padding:0;
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button{
  height:auto;
}
[type=search]{
  -webkit-appearance:textfield;
     -moz-appearance:textfield;
          appearance:textfield;
  outline-offset:-2px;
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration{
  -webkit-appearance:none;
          appearance:none;
}
input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=time]:empty{
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
}
.chrome input[type=time], .chrome input[type=date], .chrome input[type=datetime], .chrome input[type=datetime-local], .chrome input[type=time]:empty{
  display:inline-block;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
          appearance:button;
}
select::-ms-expand{
  display:none;
}
input::-ms-clear{
  display:none;
}
.is-rtl-device input[type=date],
.is-rtl-device input[type=datetime-local]{
  direction:rtl;
}
.focus-trap-top{
  top:0;
}
.focus-trap-bottom{
  bottom:0;
}
