/*! 6.4.7. Tabs */
.osui-tabs{
  --header-item-width:fit-content(30%);
  --header-item-alignment:auto;
  --tabs-indicator-size:1px;
  display:grid;
  height:var(--tabs-height);
  overflow:hidden;
}
.osui-tabs--is-vertical.osui-tabs--is-right{
  grid-auto-flow:dense;
  grid-template-columns:1fr var(--header-item-width);
}
.osui-tabs--is-vertical.osui-tabs--is-right > .osui-tabs__header{
  grid-column:2;
}
.osui-tabs--is-vertical.osui-tabs--is-right > .osui-tabs__header .osui-tabs__header-item{
  padding:var(--space-s) 0 var(--space-s) var(--space-base);
}
.osui-tabs--is-vertical.osui-tabs--is-right > .osui-tabs__header > .osui-tabs__header__indicator{
  left:0;
}
.osui-tabs--is-vertical.osui-tabs--is-right .osui-tabs__content{
  border-right:var(--border-size-s) solid var(--border-color-neutral-5, var(--color-neutral-5));
  margin-right:-1px;
}
.osui-tabs--is-vertical.osui-tabs--is-left{
  grid-auto-flow:row;
  grid-template-columns:var(--header-item-width) 1fr;
}
.osui-tabs--is-vertical.osui-tabs--is-left > .osui-tabs__header .osui-tabs__header-item{
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
  padding:var(--space-s) var(--space-base) var(--space-s) 0;
}
.osui-tabs--is-vertical.osui-tabs--is-left > .osui-tabs__header > .osui-tabs__header__indicator{
  right:0;
}
.osui-tabs--is-vertical.osui-tabs--is-left .osui-tabs__content{
  border-left:var(--border-size-s) solid var(--border-color-neutral-5, var(--color-neutral-5));
  margin-left:-1px;
}
.osui-tabs--is-vertical > .osui-tabs__header{
  -ms-flex-line-pack:start;
      align-content:start;
  grid-template-rows:repeat(var(--tabs-header-items), var(--header-item-alignment));
  overflow:hidden;
}
.osui-tabs--is-vertical > .osui-tabs__header .osui-tabs__header-item{
  -webkit-box-flex:0;
      -ms-flex:none;
          flex:none;
}
.osui-tabs--is-vertical > .osui-tabs__header > .osui-tabs__header__indicator{
  height:var(--tabs-indicator-size);
  position:absolute;
  top:0;
  -webkit-transform:translateY(var(--tabs-indicator-transform)) translateX(0) translateZ(0);
          transform:translateY(var(--tabs-indicator-transform)) translateX(0) translateZ(0);
  width:2px;
}
.osui-tabs--is-vertical .osui-tabs__content{
  width:auto;
}
.osui-tabs--is-vertical .osui-tabs__content-item{
  padding:var(--space-none) var(--space-m);
}
.osui-tabs--is-horizontal{
  grid-auto-flow:column;
  grid-template-rows:auto 1fr;
}
.osui-tabs--is-horizontal > .osui-tabs__header{
  grid-template-columns:repeat(var(--tabs-header-items), var(--header-item-alignment));
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:start;
  overflow-y:hidden;
  overflow-x:auto;
  word-break:keep-all;
}
.osui-tabs--is-horizontal > .osui-tabs__header .osui-tabs__header-item{
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding:var(--space-s) var(--space-base);
}
.osui-tabs--is-horizontal .osui-tabs__header__indicator{
  bottom:0;
  height:2px;
  -webkit-transform:translateX(var(--tabs-indicator-transform)) translateY(0) translateZ(0);
          transform:translateX(var(--tabs-indicator-transform)) translateY(0) translateZ(0);
  width:var(--tabs-indicator-size);
}
.osui-tabs--is-horizontal .osui-tabs__content{
  border-top:var(--border-size-s) solid var(--border-color-neutral-5, var(--color-neutral-5));
  margin-top:-1px;
}
.osui-tabs--is-justified{
  --header-item-alignment:1fr;
}
.osui-tabs--is-justified.osui-tabs--is-horizontal .osui-tabs__header{
  -webkit-box-pack:initial;
      -ms-flex-pack:initial;
          justify-content:initial;
}
.osui-tabs--is-justified.osui-tabs--is-vertical .osui-tabs__header{
  -ms-flex-line-pack:initial;
      align-content:initial;
}
.osui-tabs--has-auto-height .osui-tabs__content-item{
  display:none;
}
.osui-tabs--has-auto-height .osui-tabs__content-item.osui-tabs--is-active{
  display:block;
}
.osui-tabs--has-drag:not(.osui-tabs--is-vertical) .osui-tabs__content{
  overflow-x:auto;
  -ms-scroll-snap-type:x mandatory;
      scroll-snap-type:x mandatory;
}
.osui-tabs:not(.osui-tabs--has-drag) .osui-tabs__content:not(:focus-within){
  -ms-scroll-snap-type:x mandatory;
      scroll-snap-type:x mandatory;
}
.osui-tabs:not(.osui-tabs--has-drag) .osui-tabs__content-item:not(.osui-tabs--is-active){
  opacity:0;
}
.osui-tabs:not(.osui-tabs--has-drag) .osui-tabs__content-item:not(.osui-tabs--is-active){
  -servicestudio-opacity:1;
}
.osui-tabs__header{
  display:grid;
  height:-webkit-fit-content;
  min-height:100%;
  position:relative;
}
.osui-tabs__header-item{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  background-color:transparent;
  border:none;
  color:var(--text-color-neutral-8, var(--color-neutral-8));
  cursor:pointer;
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  height:100%;
  position:relative;
  min-height:42px;
  text-align:unset;
  width:100%;
}
.osui-tabs__header-item:hover:not(.osui-tabs--is-active){
  color:var(--text-color-neutral-10, var(--color-neutral-10));
}
.osui-tabs__header-item:hover[disabled]{
  color:var(--text-color-neutral-6, var(--color-neutral-6));
}
.osui-tabs__header-item.osui-tabs--is-active{
  color:var(--text-color-neutral-10, var(--color-neutral-10));
  text-shadow:0 0 0.5px currentColor;
}
.osui-tabs__header-item[disabled]{
  color:var(--text-color-neutral-6, var(--color-neutral-6));
  cursor:auto;
}
.osui-tabs__header__indicator{
  background-color:var(--background-color-primary, var(--color-primary));
  position:absolute;
  -webkit-transition:-webkit-transform 200ms linear;
  transition:-webkit-transform 200ms linear;
  -o-transition:transform 200ms linear;
  transition:transform 200ms linear;
  transition:transform 200ms linear, -webkit-transform 200ms linear;
  -webkit-transform-origin:0 0;
      -ms-transform-origin:0 0;
          transform-origin:0 0;
  will-change:transform;
  z-index:var(--layer-local-tier-1);
}
.osui-tabs__header__indicator[disabled]{
  background-color:var(--background-color-neutral-6, var(--color-neutral-6));
}
.osui-tabs__header{
  -servicestudio-display:grid;
  -servicestudio-grid-auto-flow:column;
  -servicestudio-gap:var(--space-s);
}
.osui-tabs__content{
  display:grid;
  grid-auto-flow:column;
  grid-auto-columns:100%;
  overflow:hidden;
  overscroll-behavior-x:contain;
  position:relative;
  width:100%;
}
.osui-tabs__content::-webkit-scrollbar{
  display:none;
}
.osui-tabs__content-item{
  height:100%;
  overflow-y:var(--tabs-content-item-overflow);
  padding:var(--space-m) var(--space-none);
  scroll-snap-align:start;
  scroll-snap-stop:always;
}
.osui-tabs__content-item{
  -servicestudio-display:block !important;
  -servicestudio-margin-bottom:var(--space-m);
}
.osui-tabs__content-item div:empty{
  -servicestudio-padding:var(--space-m);
}
.osui-tabs__content-item .uieditor-if-branch-widget:has(> div:empty){
  -servicestudio-height:0;
}
.osui-tabs__content-item .columns{
  max-width:99.99%;
}
.osui-tabs__header > .ph > .OSBlockWidget, .osui-tabs__header > .ph > .list.list-group, .osui-tabs__content > .ph > .OSBlockWidget, .osui-tabs__content > .ph > .list.list-group{
  display:contents;
}
.osui-tabs .osui-tabs__header-item,
.osui-tabs .osui-tabs__header-item > *,
.osui-tabs .osui-tabs__content-item{
  -servicestudio-border:1px dashed var(--border-color-neutral-5, var(--color-neutral-5));
  -servicestudio-width:100%;
}
.osui-tabs .osui-tabs__content-item .display-contents{
  -servicestudio-display:block;
}
.is-rtl .osui-tabs.osui-tabs--is-vertical.osui-tabs--is-right .osui-tabs__header-item{
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
  padding:var(--space-xs) var(--space-base) var(--space-xs) 0;
}
.is-rtl .osui-tabs.osui-tabs--is-vertical.osui-tabs--is-right .osui-tabs__header > .osui-tabs__header__indicator{
  left:unset;
  right:0;
}
.is-rtl .osui-tabs.osui-tabs--is-vertical.osui-tabs--is-right .osui-tabs__content{
  border-left:var(--border-size-s) solid var(--border-color-neutral-5, var(--color-neutral-5));
  margin-left:-1px;
  border-right:0;
}
.is-rtl .osui-tabs.osui-tabs--is-vertical.osui-tabs--is-left .osui-tabs__header{
  grid-column:1;
}
.is-rtl .osui-tabs.osui-tabs--is-vertical.osui-tabs--is-left .osui-tabs__header-item{
  padding:var(--space-xs) 0 var(--space-xs) var(--space-base);
}
.is-rtl .osui-tabs.osui-tabs--is-vertical.osui-tabs--is-left .osui-tabs__header > .osui-tabs__header__indicator{
  left:0;
  right:unset;
}
.is-rtl .osui-tabs.osui-tabs--is-vertical.osui-tabs--is-left .osui-tabs__content{
  border-right:var(--border-size-s) solid var(--border-color-neutral-5, var(--color-neutral-5));
  margin-right:-1px;
  border-left:0;
}
.is-rtl .osui-tabs.osui-tabs--is-horizontal .osui-tabs__header > .osui-tabs__header__indicator{
  -webkit-transform-origin:right;
      -ms-transform-origin:right;
          transform-origin:right;
}
.has-accessible-features .osui-tabs__header-item:focus{
  -webkit-box-shadow:none;
          box-shadow:none;
}
.has-accessible-features .osui-tabs__header-item:focus-visible{
  background-color:var(--background-color-focus-outer, var(--color-focus-outer));
  color:var(--text-color-neutral-10, var(--color-neutral-10));
}
.has-accessible-features .osui-tabs__content-item:focus-visible{
  -webkit-box-shadow:0 0 0 1px var(--background-color-focus-outer, var(--color-focus-outer)) inset;
          box-shadow:0 0 0 1px var(--background-color-focus-outer, var(--color-focus-outer)) inset;
}
.os-high-contrast .osui-tabs__header__indicator{
  display:none;
}
.os-high-contrast .osui-tabs__content-item{
  position:relative;
}
.os-high-contrast .osui-tabs__header-item:focus,
.os-high-contrast .osui-tabs__content-item :focus{
  outline:none;
}
.os-high-contrast .osui-tabs__header-item:focus:before,
.os-high-contrast .osui-tabs__header-item.osui-tabs--is-active:before,
.os-high-contrast .osui-tabs__content-item:focus:before,
.os-high-contrast .osui-tabs__content-item.osui-tabs--is-active:before{
  border:var(--border-size-m) solid var(--border-color-focus-outer, var(--color-focus-outer));
  bottom:0;
  content:"";
  display:block;
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
}
.os-high-contrast .osui-tabs__header-item:focus:before,
.os-high-contrast .osui-tabs__content-item:focus:before{
  border-width:var(--border-size-l);
}
.os-high-contrast .osui-tabs__content-item{
  padding:var(--space-base);
}
.windows.chrome .osui-accordion .osui-tabs__header__indicator,
.windows.chrome .section-expandable .osui-tabs__header__indicator,
.windows.edge .osui-accordion .osui-tabs__header__indicator,
.windows.edge .section-expandable .osui-tabs__header__indicator,
.osx.chrome .osui-accordion .osui-tabs__header__indicator,
.osx.chrome .section-expandable .osui-tabs__header__indicator,
.osx.edge .osui-accordion .osui-tabs__header__indicator,
.osx.edge .section-expandable .osui-tabs__header__indicator{
  -webkit-perspective:1000px;
          perspective:1000px;
}
.osui-tabs__preview{
  display:none;
}
.osui-tabs__header__indicator{
  -servicestudio-display:none;
}
.osui-tabs--is-vertical .osui-tabs__header{
  -servicestudio-display:flex;
  -servicestudio-flex-direction:column;
}
.osui-tabs--is-vertical .osui-tabs__header-item{
  -servicestudio-height:auto;
}
.osui-tabs--is-vertical .osui-tabs--is-active::after{
  -servicestudio-left:unset;
  -servicestudio-right:0;
  -servicestudio-width:2px;
  -servicestudio-height:100%;
}
.osui-tabs--is-vertical.osui-tabs--is-right .osui-tabs--is-active::after{
  -servicestudio-left:0;
  -servicestudio-right:unset;
}
.osui-tabs--is-active::after{
  -servicestudio-content:"";
  -servicestudio-bottom:0;
  -servicestudio-left:0;
  -servicestudio-width:100%;
  -servicestudio-height:2px;
  -servicestudio-background-color:var(--background-color-primary, var(--color-primary));
  -servicestudio-position:absolute;
}
html[data-uieditorversion^="1"] .osui-tabs__preview.osui-tabs__preview--is-active{
  -servicestudio-display:block;
  -servicestudio-height:auto;
  -servicestudio-min-height:48px;
  -servicestudio-width:auto;
  -servicestudio-position:relative;
}
html[data-uieditorversion^="1"] .osui-tabs__preview--is-active::after{
  -servicestudio-align-items:center;
  -servicestudio-background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  -servicestudio-border:1px solid var(--border-color-neutral-3, var(--color-neutral-3));
  -servicestudio-content:"TabsContentItems are currently hidden. Use the toggle to preview them inside Service Studio.";
  -servicestudio-display:flex;
  -servicestudio-justify-content:center;
  -servicestudio-font-weight:var(--font-semi-bold);
  -servicestudio-height:auto;
  -servicestudio-padding:var(--space-s);
  -servicestudio-position:absolute;
  -servicestudio-width:100%;
}
