/*! 6.4.8. Timeline */
.timeline-item{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  position:relative;
}
.timeline-item .timeline-content{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  margin-bottom:var(--space-xl);
}
.timeline-icon{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:reverse;
      -ms-flex-direction:column-reverse;
          flex-direction:column-reverse;
  position:relative;
}
.timeline-icon-line{
  background-color:var(--background-color-neutral-5, var(--color-neutral-5));
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  margin:var(--space-s) var(--space-none) var(--space-s);
  width:1px;
}
.timeline-icon-container{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  border-radius:var(--border-radius-circle);
  color:var(--text-color-neutral-0, var(--color-neutral-0));
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font-size:var(--font-size-xs);
  height:24px;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  margin:var(--space-none) var(--space-base);
  text-align:center;
  width:24px;
}
.timeline-icon-container:empty{
  height:8px;
  margin-top:var(--space-xs);
  width:8px;
}
.timeline-right, .timeline-content-inner{
  color:var(--text-color-neutral-8, var(--color-neutral-8));
}
[data-block="Navigation.TimelineItem"]:last-of-type .timeline-icon{
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}
[data-block="Navigation.TimelineItem"]:last-of-type .timeline-icon-line{
  display:none;
}
