/*! 6.3.4. Balloon */
.osui-balloon{
  --border-radius-rounded:16px;
  --osui-floating-position-x:0;
  --osui-floating-position-y:0;
  --osui-balloon-shadow:var(--shadow-s);
  --osui-balloon-width:max-content;
  --osui-balloon-position:fixed;
  -webkit-box-shadow:var(--osui-balloon-shadow);
          box-shadow:var(--osui-balloon-shadow);
  border-radius:var(--osui-balloon-shape);
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  height:auto;
  left:var(--osui-floating-position-x);
  opacity:0;
  position:var(--osui-balloon-position);
  pointer-events:none;
  top:var(--osui-floating-position-y);
  visibility:hidden;
  width:var(--osui-balloon-width);
  z-index:var(--layer-global-elevated);
}
.osui-balloon--is-open{
  visibility:visible;
  opacity:1;
  pointer-events:all;
  -webkit-transition:opacity 300ms ease-in;
  -o-transition:opacity 300ms ease-in;
  transition:opacity 300ms ease-in;
}
.osui-balloon:not(.osui-balloon--is-open) > *{
  display:none;
}
.osui-balloon:not(.osui-balloon--is-open) > *{
  -servicestudio-display:block;
}
.osui-balloon{
  -servicestudio-left:0;
  -servicestudio-min-width:170px;
  -servicestudio-opacity:1;
  -servicestudio-position:absolute !important;
  -servicestudio-top:100%;
  -servicestudio-visibility:visible;
}
.osui-balloon.bottom{
  -servicestudio-left:50%;
  -servicestudio-transform:translate(-50%);
}
.osui-balloon.bottom-start, .osui-balloon.bottom-left{
  -servicestudio-left:0;
}
.osui-balloon.bottom-end, .osui-balloon.bottom-right{
  -servicestudio-left:100%;
  -servicestudio-transform:translateX(-100%);
}
.osui-balloon.center{
  -servicestudio-top:0;
  -servicestudio-left:0;
}
.osui-balloon.left-end{
  -servicestudio-top:100%;
  -servicestudio-transform:translateY(-100%) translateX(-100%);
}
.osui-balloon.left-start{
  -servicestudio-top:0;
  -servicestudio-transform:translateX(-100%);
}
.osui-balloon.left{
  -servicestudio-top:50%;
  -servicestudio-transform:translateY(-50%) translateX(-100%);
}
.osui-balloon.right-end{
  -servicestudio-top:100%;
  -servicestudio-left:100%;
  -servicestudio-transform:translateY(-100%);
}
.osui-balloon.right-start{
  -servicestudio-top:0;
  -servicestudio-left:100%;
}
.osui-balloon.right{
  -servicestudio-top:50%;
  -servicestudio-left:100%;
  -servicestudio-transform:translateY(-50%);
}
.osui-balloon.top-end, .osui-balloon.top-right{
  -servicestudio-top:0;
  -servicestudio-left:100%;
  -servicestudio-transform:translateY(-100%) translateX(-100%);
}
.osui-balloon.top-start, .osui-balloon.top-left{
  -servicestudio-top:0;
  -servicestudio-left:0;
  -servicestudio-transform:translateY(-100%);
}
.osui-balloon.top{
  -servicestudio-top:0;
  -servicestudio-left:50%;
  -servicestudio-transform:translateY(-100%) translateX(-50%);
}
