/*! 6.3.5. Bottom Sheet */
.osui-bottom-sheet{
  --bottom-sheet-max-height:calc(100vh - 54px);
  --border-radius-sharp:none;
  --border-radius-rounded:16px;
  --osui-bottom-sheet-draggable-area:56px;
  --osui-bottom-sheet-transition-function:cubic-bezier(0.19, 0.35, 0.56, 0.96);
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  border-top-left-radius:var(--bottom-sheet-shape);
  border-top-right-radius:var(--bottom-sheet-shape);
  bottom:0;
  -webkit-box-shadow:var(--shadow-l);
          box-shadow:var(--shadow-l);
  left:0;
  max-height:var(--bottom-sheet-max-height);
  min-height:50vh;
  position:fixed;
  text-align:center;
  -webkit-transition:-webkit-transform 350ms var(--osui-bottom-sheet-transition-function);
  transition:-webkit-transform 350ms var(--osui-bottom-sheet-transition-function);
  -o-transition:transform 350ms var(--osui-bottom-sheet-transition-function);
  transition:transform 350ms var(--osui-bottom-sheet-transition-function);
  transition:transform 350ms var(--osui-bottom-sheet-transition-function), -webkit-transform 350ms var(--osui-bottom-sheet-transition-function);
  -webkit-transform:translateY(100%);
      -ms-transform:translateY(100%);
          transform:translateY(100%);
  width:100%;
  z-index:var(--osui-bottom-sheet-layer);
}
.osui-bottom-sheet{
  -servicestudio-transform:none;
}
.osui-bottom-sheet .osui-bottom-sheet__content:empty,
.osui-bottom-sheet .osui-bottom-sheet__header__top-bar:empty{
  -servicestudio-border:1px dashed var(--border-color-neutral-5, var(--color-neutral-5));
  -servicestudio-margin:var(--space-base);
}
.osui-bottom-sheet--has-handler .osui-bottom-sheet__header::before{
  background:var(--background-color-neutral-5, var(--color-neutral-5));
  border-radius:100px;
  content:"";
  height:4px;
  left:50%;
  position:absolute;
  top:var(--space-base);
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
  width:40px;
}
.osui-bottom-sheet--has-handler .osui-bottom-sheet__header__top-bar{
  padding-top:var(--space-l);
}
.osui-bottom-sheet--has-scroll{
  --osui-bottom-sheet-draggable-area:0;
}
.osui-bottom-sheet--has-scroll .osui-bottom-sheet__header__top-bar::before{
  opacity:1;
  -webkit-transform:translateY(0);
      -ms-transform:translateY(0);
          transform:translateY(0);
}
.osui-bottom-sheet--is-open{
  -webkit-transform:translateY(0);
      -ms-transform:translateY(0);
          transform:translateY(0);
}
.osui-bottom-sheet--is-open::before{
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  content:"";
  height:100%;
  left:0;
  position:absolute;
  top:100%;
  width:100%;
}
.osui-bottom-sheet--is-open + .osui-bottom-sheet-overlay{
  opacity:1;
  pointer-events:all;
}
.osui-bottom-sheet:not(.osui-bottom-sheet--is-open){
  -webkit-transition:-webkit-transform 200ms ease-out;
  transition:-webkit-transform 200ms ease-out;
  -o-transition:transform 200ms ease-out;
  transition:transform 200ms ease-out;
  transition:transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
.osui-bottom-sheet:not(.osui-bottom-sheet--is-open) + .osui-bottom-sheet-overlay{
  -webkit-transition:opacity 200ms ease-out;
  -o-transition:opacity 200ms ease-out;
  transition:opacity 200ms ease-out;
}
.osui-bottom-sheet-overlay{
  background-color:var(--background-color-overlay, var(--overlay-background));
  height:100vh;
  left:0;
  opacity:0;
  pointer-events:none;
  position:fixed;
  top:0;
  -webkit-transition:opacity 350ms ease-in;
  -o-transition:opacity 350ms ease-in;
  transition:opacity 350ms ease-in;
  width:100vw;
  z-index:calc(var(--layer-below) + var(--osui-bottom-sheet-layer));
}
.osui-bottom-sheet-overlay{
  -servicestudio-opacity:1;
}
.osui-bottom-sheet__header{
  position:relative;
}
.osui-bottom-sheet__header::after{
  content:"";
  height:var(--osui-bottom-sheet-draggable-area);
  left:0;
  position:absolute;
  top:100%;
  width:100%;
}
.osui-bottom-sheet__header__top-bar{
  padding:var(--space-base);
}
.osui-bottom-sheet__header__top-bar::before{
  -webkit-box-shadow:var(--shadow-l);
          box-shadow:var(--shadow-l);
  content:"";
  height:100%;
  left:0;
  opacity:0;
  position:absolute;
  -webkit-transform:translateY(-2px);
      -ms-transform:translateY(-2px);
          transform:translateY(-2px);
  -webkit-transition:opacity 200ms ease, -webkit-transform 200ms var(--osui-bottom-sheet-transition-function);
  transition:opacity 200ms ease, -webkit-transform 200ms var(--osui-bottom-sheet-transition-function);
  -o-transition:opacity 200ms ease, transform 200ms var(--osui-bottom-sheet-transition-function);
  transition:opacity 200ms ease, transform 200ms var(--osui-bottom-sheet-transition-function);
  transition:opacity 200ms ease, transform 200ms var(--osui-bottom-sheet-transition-function), -webkit-transform 200ms var(--osui-bottom-sheet-transition-function);
  top:0;
  width:100%;
  z-index:var(--layer-global-negative);
}
.osui-bottom-sheet__header__top-bar:empty{
  padding-bottom:unset;
}
.osui-bottom-sheet__content{
  max-height:var(--bottom-sheet-max-height);
  overflow-y:scroll;
  padding:var(--space-base);
  padding-bottom:calc(var(--bottom-bar-size) + var(--space-m) + var(--os-safe-area-bottom));
}
.layout:not(.layout-native) .osui-bottom-sheet{
  --bottom-sheet-max-height:85vh;
}
.desktop .osui-bottom-sheet__header::after{
  display:none;
}
.landscape .osui-bottom-sheet__header__top-bar,
.landscape .osui-bottom-sheet__content{
  padding-right:calc(var(--space-base) + var(--os-safe-area-right));
  padding-left:calc(var(--space-base) + var(--os-safe-area-left));
}
.osui-bottom-sheet--is-active .vscomp-wrapper,
.osui-bottom-sheet--is-active [data-popup-backdrop]{
  z-index:calc(var(--layer-above) + var(--osui-bottom-sheet-layer));
}
.osui-bottom-sheet--is-active .osui-bottom-sheet__content .osui-datepicker,
.osui-bottom-sheet--is-active .osui-bottom-sheet__content .osui-monthpicker,
.osui-bottom-sheet--is-active .osui-bottom-sheet__content .osui-timepicker{
  position:relative;
}
.os-high-contrast .osui-bottom-sheet{
  border:var(--border-size-s) solid var(--border-color-neutral-0, var(--color-neutral-0));
}
