/*! 6.3.9. Floating Actions */
.floating-actions-wrapper, .floating-overlay{
  --osui-floating-actions-layer:var(--layer-global-elevated);
}
.floating-actions-wrapper{
  -webkit-box-align:end;
      -ms-flex-align:end;
          align-items:flex-end;
  bottom:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  margin:var(--space-l);
  position:fixed;
  right:0;
  will-change:transform, opacity;
  z-index:var(--osui-floating-actions-layer);
}
.floating-actions-wrapper:not(.is--open){
  pointer-events:none;
}
.floating-actions-wrapper:not(.is--open){
  -servicestudio-pointer-events:auto;
}
.floating-actions-wrapper.is--open .floating-actions-item{
  opacity:1;
  -webkit-transform:translateY(0px) translateZ(0) scale(1);
          transform:translateY(0px) translateZ(0) scale(1);
  -webkit-transition:all 180ms ease-out;
  -o-transition:all 180ms ease-out;
  transition:all 180ms ease-out;
  -webkit-transition-delay:calc(var(--delay) * 40ms);
       -o-transition-delay:calc(var(--delay) * 40ms);
          transition-delay:calc(var(--delay) * 40ms);
}
.floating-actions-wrapper.is--open .floating-actions-item-button{
  -webkit-transform:translateZ(0) scale(1);
          transform:translateZ(0) scale(1);
}
.floating-actions-wrapper.is--open .floating-button{
  -webkit-box-shadow:var(--shadow-none);
          box-shadow:var(--shadow-none);
  -webkit-filter:brightness(0.9);
          filter:brightness(0.9);
  -webkit-transform:rotate(135deg) translateZ(0);
          transform:rotate(135deg) translateZ(0);
}
.floating-actions-wrapper.bottom-bar-exists{
  bottom:calc(var(--bottom-bar-size) + var(--space-base));
}
.floating-actions-wrapper.no-rotation .floating-button{
  -webkit-transform:none;
      -ms-transform:none;
          transform:none;
}
.slide-from-left-enter .layout-native .floating-actions-wrapper, .slide-from-left-leave .layout-native .floating-actions-wrapper, .slide-from-right-enter .layout-native .floating-actions-wrapper, .slide-from-right-leave .layout-native .floating-actions-wrapper, .slide-from-top-enter .layout-native .floating-actions-wrapper, .slide-from-top-leave .layout-native .floating-actions-wrapper, .slide-from-bottom-enter .layout-native .floating-actions-wrapper, .slide-from-bottom-leave .layout-native .floating-actions-wrapper, .fade-enter .layout-native .floating-actions-wrapper, .fade-leave .layout-native .floating-actions-wrapper{
  display:none;
}
.floating-items{
  -webkit-box-align:end;
      -ms-flex-align:end;
          align-items:flex-end;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  padding-bottom:var(--space-s);
  padding-right:var(--space-s);
}
.floating-actions-item{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
  margin-bottom:var(--space-base);
  opacity:0;
  -webkit-transform:translateY(var(--space-base)) translateZ(0);
          transform:translateY(var(--space-base)) translateZ(0);
  -webkit-transition:all 100ms ease-in;
  -o-transition:all 100ms ease-in;
  transition:all 100ms ease-in;
}
.floating-actions-item{
  -servicestudio-opacity:1;
  -servicestudio-transform:translateY(0);
}
.floating-actions-item-button{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  border-radius:var(--border-radius-rounded);
  -webkit-box-shadow:var(--shadow-s);
          box-shadow:var(--shadow-s);
  color:var(--text-color-primary, var(--color-primary));
  cursor:pointer;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font-size:var(--font-size-base);
  height:40px;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  margin-left:var(--space-base);
  -webkit-transform:translateZ(0) scale(0.3);
          transform:translateZ(0) scale(0.3);
  -webkit-transition:-webkit-transform 180ms ease-out;
  transition:-webkit-transform 180ms ease-out;
  -o-transition:transform 180ms ease-out;
  transition:transform 180ms ease-out;
  transition:transform 180ms ease-out, -webkit-transform 180ms ease-out;
  -webkit-transition-delay:calc(var(--delay) * 40ms);
       -o-transition-delay:calc(var(--delay) * 40ms);
          transition-delay:calc(var(--delay) * 40ms);
  width:40px;
}
.floating-actions-item-button{
  -servicestudio-transform:scale(1);
}
.floating-actions-item-button:hover{
  background-color:var(--background-color-primary, var(--color-primary));
  color:var(--text-color-neutral-0, var(--color-neutral-0));
}
.floating-button{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  background-color:var(--background-color-primary, var(--color-primary));
  border-radius:var(--border-radius-rounded);
  -webkit-box-shadow:var(--shadow-xl);
          box-shadow:var(--shadow-xl);
  color:var(--text-color-neutral-0, var(--color-neutral-0));
  cursor:pointer;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font-size:var(--font-size-h4);
  height:56px;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  pointer-events:auto;
  -webkit-transform:rotate(0deg) translateZ(0);
          transform:rotate(0deg) translateZ(0);
  -webkit-transform-origin:center center;
      -ms-transform-origin:center center;
          transform-origin:center center;
  -webkit-transition:all 180ms linear;
  -o-transition:all 180ms linear;
  transition:all 180ms linear;
  width:56px;
}
.floating-button:hover{
  -webkit-filter:brightness(0.9);
          filter:brightness(0.9);
}
.floating-overlay{
  background-color:var(--background-color-overlay, var(--overlay-background));
  cursor:pointer;
  height:100vh;
  opacity:0;
  pointer-events:none;
  position:fixed;
  right:0;
  top:0;
  -webkit-transition:opacity 180ms ease-out;
  -o-transition:opacity 180ms ease-out;
  transition:opacity 180ms ease-out;
  width:100vw;
  z-index:var(--osui-floating-actions-layer);
}
.floating-overlay.is--open{
  opacity:1;
  pointer-events:auto;
}
.desktop .floating-overlay{
  display:none;
}
.phone .layout-native .floating-actions-wrapper{
  margin:var(--space-base);
}
.phone.ios.portrait .layout-native .floating-actions-wrapper{
  margin-bottom:var(--os-safe-area-bottom);
}
.phone.ios.landscape .layout-native .floating-actions-wrapper{
  margin-right:calc(var(--os-safe-area-right) + var(--space-base));
}
.tablet.ios .floating-actions-wrapper.bottom-bar-exists{
  margin-bottom:0;
}
.is-rtl .floating-actions-item-button{
  margin-left:var(--space-none);
  margin-right:var(--space-base);
}
.is-rtl .floating-actions-wrapper{
  left:0;
  right:auto;
}
.has-accessible-features .floating-button:focus{
  -webkit-box-shadow:0 0 0 3px var(--background-color-focus-outer, var(--color-focus-outer));
          box-shadow:0 0 0 3px var(--background-color-focus-outer, var(--color-focus-outer));
}
.has-accessible-features .floating-actions-wrapper.is--open .floating-button:focus{
  -webkit-box-shadow:0 0 0 3px var(--background-color-focus-outer, var(--color-focus-outer));
          box-shadow:0 0 0 3px var(--background-color-focus-outer, var(--color-focus-outer));
}
