/*! 6.3.11. Lightbox Image */
.lightbox-item{
  -servicestudio-position:relative;
}
.lightbox-item:empty{
  -servicestudio-min-height:200px;
}
.lightbox-item img{
  display:block;
}
.lightbox-image:after{
  -servicestudio-background-color:rgba(0, 0, 0, 0.3);
  -servicestudio-color:var(--text-color-neutral-0, var(--color-neutral-0));
  -servicestudio-content:"Image";
  -servicestudio-font-size:9px;
  -servicestudio-left:0;
  -servicestudio-padding:3px;
  -servicestudio-position:absolute;
  -servicestudio-right:0;
}
.lightbox-thumbnail{
  -servicestudio-bottom:0;
  -servicestudio-position:absolute;
  -servicestudio-right:0;
  -servicestudio-width:100%;
}
.lightbox-thumbnail:empty{
  -servicestudio-min-height:40%;
}
.lightbox-thumbnail:after{
  -servicestudio-background-color:rgba(0, 0, 0, 0.3);
  -servicestudio-color:var(--text-color-neutral-0, var(--color-neutral-0));
  -servicestudio-content:"Thumbnail";
  -servicestudio-font-size:9px;
  -servicestudio-left:0;
  -servicestudio-padding:3px;
  -servicestudio-position:absolute;
  -servicestudio-right:0;
}
.lightbox-content-thumbnail{
  -servicestudio-min-height:100px;
}
.hide-lightbox-image .lightbox-image{
  display:none;
}
.pswp__top-bar{
  padding-left:var(--os-safe-area-left);
  padding-right:var(--os-safe-area-right);
}
.android .pswp__top-bar{
  top:max(var(--status-bar-height, 0px), var(--safe-area-inset-top, 0px));
  padding-left:var(--safe-area-inset-left, 0px);
  padding-right:var(--safe-area-inset-right, 0px);
}
.ios .pswp__top-bar{
  padding-left:var(--os-safe-area-left);
  padding-right:var(--os-safe-area-right);
  top:var(--os-safe-area-top);
}
.ios .pswp__top-bar .pswp__counter{
  left:var(--os-safe-area-left);
}
.phone .pswp__caption__center{
  padding-bottom:calc(var(--os-safe-area-bottom) + 10px);
}
.has-accessible-features .lightbox-item a:focus{
  background-color:transparent;
  -webkit-box-shadow:none;
          box-shadow:none;
  outline:3px solid var(--border-color-focus-outer, var(--color-focus-outer));
}
.is-rtl .pswp__counter{
  left:inherit;
  right:0;
}
.is-rtl .pswp__top-bar{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;
          flex-direction:row-reverse;
}
