/*! 6.3.15. Scrollable Area */
.scrollable-area-content{
  --scrollable-area-height:auto;
  --scrollable-area-width:100%;
  height:var(--scrollable-area-height);
  width:var(--scrollable-area-width);
}
.scrollable-area-content.horizontal-scroll .osui-deprecated.carousel .list.list-group, .scrollable-area-content.horizontal-scroll .osui-carousel .list.list-group, .scrollable-area-content.vertical-scroll .osui-deprecated.carousel .list.list-group, .scrollable-area-content.vertical-scroll .osui-carousel .list.list-group{
  overflow-x:initial;
  overflow-y:initial;
}
.scrollable-area-content.none{
  -ms-overflow-style:none;
  scrollbar-width:none;
}
.scrollable-area-content.none:hover{
  cursor:default;
}
.scrollable-area-content.none::-webkit-scrollbar{
  display:none;
}
.scrollable-area-content.horizontal-scroll,
.scrollable-area-content.horizontal-scroll .list.list-group{
  overflow-x:auto;
  overflow-y:hidden;
}
.scrollable-area-content.vertical-scroll,
.scrollable-area-content.vertical-scroll .list.list-group{
  overflow-x:hidden;
  overflow-y:auto;
}
.scrollable-area-content.compact.horizontal-scroll::-webkit-scrollbar, .scrollable-area-content.compact.vertical-scroll::-webkit-scrollbar{
  width:8px;
  height:8px;
}
.scrollable-area-content.compact.horizontal-scroll::-webkit-scrollbar-track, .scrollable-area-content.compact.horizontal-scroll::-webkit-scrollbar-thumb, .scrollable-area-content.compact.horizontal-scroll:hover::-webkit-scrollbar-track, .scrollable-area-content.compact.vertical-scroll::-webkit-scrollbar-track, .scrollable-area-content.compact.vertical-scroll::-webkit-scrollbar-thumb, .scrollable-area-content.compact.vertical-scroll:hover::-webkit-scrollbar-track{
  background-color:transparent;
}
.scrollable-area-content.compact.horizontal-scroll:hover::-webkit-scrollbar-thumb, .scrollable-area-content.compact.vertical-scroll:hover::-webkit-scrollbar-thumb{
  background-color:rgba(173, 181, 189, 0.5);
  border-radius:6px;
}
.scrollable-area-content.compact.horizontal-scroll::-webkit-scrollbar-thumb:hover, .scrollable-area-content.compact.vertical-scroll::-webkit-scrollbar-thumb:hover{
  background-color:rgba(106, 113, 120, 0.5);
  border-radius:6px;
}
[data-block="Interaction.ScrollableArea"]::-webkit-scrollbar{
  width:8px;
  height:8px;
}
[data-block="Interaction.ScrollableArea"]::-webkit-scrollbar-track, [data-block="Interaction.ScrollableArea"]::-webkit-scrollbar-thumb, [data-block="Interaction.ScrollableArea"]:hover::-webkit-scrollbar-track{
  background-color:transparent;
}
[data-block="Interaction.ScrollableArea"]:hover::-webkit-scrollbar-thumb{
  background-color:rgba(173, 181, 189, 0.5);
  border-radius:6px;
}
[data-block="Interaction.ScrollableArea"]::-webkit-scrollbar-thumb:hover{
  background-color:rgba(106, 113, 120, 0.5);
  border-radius:6px;
}
.is-rtl .horizontal-scroll > :not(:first-child),
.is-rtl .horizontal-scroll .list > :not(:first-child){
  margin-left:unset;
  margin-right:var(--space-base);
}
