/*! 6.3.16. Sidebar */
.osui-sidebar{
  --overlay-opacity:0;
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  -webkit-box-shadow:var(--shadow-l);
          box-shadow:var(--shadow-l);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  height:100%;
  margin:var(--space-none);
  position:fixed;
  top:0;
  -webkit-transition:all 130ms ease-in;
  -o-transition:all 130ms ease-in;
  transition:all 130ms ease-in;
  width:var(--sidebar-width);
  will-change:transform;
  z-index:var(--osui-sidebar-layer);
}
.osui-sidebar:not(.osui-sidebar--is-open):not(.no-transition){
  opacity:0;
}
.osui-sidebar:not(.osui-sidebar--is-open):not(.no-transition){
  -servicestudio-opacity:1;
}
.osui-sidebar:after{
  background-color:transparent;
  content:"";
  height:100%;
  position:fixed;
  width:24px;
}
.osui-sidebar--is-right{
  right:0;
  -webkit-transform:translateX(102%);
      -ms-transform:translateX(102%);
          transform:translateX(102%);
}
.osui-sidebar--is-right:after{
  left:-24px;
}
.osui-sidebar--is-right.osui-sidebar--has-overlay::before{
  right:100%;
}
.osui-sidebar--is-right.osui-sidebar--has-overlay::before{
  -servicestudio-right:100%;
}
.osui-sidebar--is-right{
  -servicestudio-left:100%;
  -servicestudio-transform:translateX(-100%);
}
.osui-sidebar--is-left{
  left:0;
  -webkit-transform:translateX(-102%);
      -ms-transform:translateX(-102%);
          transform:translateX(-102%);
}
.osui-sidebar--is-left:after{
  right:-24px;
}
.osui-sidebar--is-left.osui-sidebar--has-overlay::before{
  left:100%;
}
.osui-sidebar--is-left.osui-sidebar--has-overlay::before{
  -servicestudio-left:100%;
}
.osui-sidebar--is-left{
  -servicestudio-left:0;
  -servicestudio-transform:none;
}
.osui-sidebar__header, .osui-sidebar__content{
  padding:var(--space-base) var(--space-m);
}
.osui-sidebar__content{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
}
.osui-sidebar--has-overlay::before{
  background-color:var(--background-color-overlay, var(--overlay-background));
  content:"";
  cursor:pointer;
  display:block;
  height:100vh;
  opacity:var(--overlay-opacity);
  pointer-events:none;
  position:fixed;
  top:0;
  -webkit-transition:opacity 130ms ease-in;
  -o-transition:opacity 130ms ease-in;
  transition:opacity 130ms ease-in;
  width:200vw;
  will-change:opacity;
  z-index:var(--osui-sidebar-layer);
}
.osui-sidebar--has-overlay::before{
  -servicestudio-width:100%;
  -servicestudio-height:100%;
  -servicestudio-opacity:1;
}
.osui-sidebar{
  -servicestudio-display:inline-block;
  -servicestudio-position:relative;
  -servicestudio-width:unset;
}
.active-screen .osui-sidebar--is-open{
  opacity:1;
  -webkit-transform:none;
      -ms-transform:none;
          transform:none;
  -webkit-transition:-webkit-transform 330ms ease-out;
  transition:-webkit-transform 330ms ease-out;
  -o-transition:transform 330ms ease-out;
  transition:transform 330ms ease-out;
  transition:transform 330ms ease-out, -webkit-transform 330ms ease-out;
  will-change:transform;
}
.active-screen .osui-sidebar--is-open.osui-sidebar--has-overlay::before{
  opacity:1;
  pointer-events:initial;
}
.desktop .osui-sidebar:after{
  display:none;
}
.android .layout-native .osui-sidebar{
  padding-top:max(var(--status-bar-height, 0px), var(--safe-area-inset-top, 0px));
  padding-right:var(--safe-area-inset-right, 0px);
  padding-bottom:var(--safe-area-inset-bottom, 0px);
  padding-left:var(--safe-area-inset-left, 0px);
}
.ios .layout-native .osui-sidebar{
  padding-bottom:var(--os-safe-area-bottom);
  padding-top:var(--os-safe-area-top);
}
.ios .phone.landscape .layout-native .osui-sidebar:before{
  left:calc((var(--os-safe-area-left) + 12px) * -1);
  width:calc(var(--os-safe-area-left) + 12px);
}
.landscape .layout-native .osui-sidebar{
  padding-bottom:var(--os-safe-area-bottom);
}
.phone .osui-sidebar{
  max-width:85vw;
}
.os-high-contrast .active-screen .osui-sidebar--is-open{
  border-left:var(--border-size-m) solid var(--border-color-focus-outer, var(--color-focus-outer));
  border-right:var(--border-size-m) solid var(--border-color-focus-outer, var(--color-focus-outer));
}
