/*! 6.8. Deprecated Patterns */
/*! 6.8.1. Accordion */
[data-block*=AccordionItem]:first-of-type .section-expandable{
  border-radius:var(--border-radius-soft) var(--border-radius-soft) var(--border-radius-none) var(--border-radius-none);
}
[data-block*=AccordionItem]:last-of-type .section-expandable{
  border-bottom-width:var(--border-size-s);
  border-radius:var(--border-radius-none) var(--border-radius-none) var(--border-radius-soft) var(--border-radius-soft);
}
[data-block*=AccordionItem]:only-of-type .section-expandable{
  border-radius:var(--border-radius-soft);
}
.section-expandable{
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  border:var(--border-size-s) solid var(--border-color-neutral-4, var(--color-neutral-4));
  border-bottom-width:var(--border-size-none);
}
.section-expandable.is--open{
  border-top:var(--border-size-m) solid var(--border-color-primary, var(--color-primary));
}
.section-expandable.is--open > .section-expandable-title{
  font-weight:var(--font-semi-bold);
}
.section-expandable.is--open > .section-expandable-title > .section-expandable-icon{
  -webkit-transform:rotate(180deg);
      -ms-transform:rotate(180deg);
          transform:rotate(180deg);
}
.section-expandable.is--disabled{
  color:var(--text-color-neutral-7, var(--color-neutral-7));
  pointer-events:none;
}
.section-expandable.is--disabled{
  -servicestudio-color:var(--text-color-neutral-9, var(--color-neutral-9));
  -servicestudio-pointer-events:auto;
}
.section-expandable.is--disabled .section-expandable-icon{
  color:var(--text-color-neutral-6, var(--color-neutral-6));
}
.section-expandable .section-expandable-title{
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  cursor:pointer;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font-size:var(--font-size-h6);
  line-height:1;
  padding:var(--space-m);
  width:100%;
}
.section-expandable .section-expandable-icon{
  color:var(--text-color-primary, var(--color-primary));
  font-family:FontAwesome;
  font-size:24px;
  font-weight:400;
  -webkit-transition:all 300ms ease-in-out;
  -o-transition:all 300ms ease-in-out;
  transition:all 300ms ease-in-out;
}
.section-expandable .section-expandable-icon:after{
  content:"\f107";
}
.section-expandable .section-expandable-content{
  display:block;
  overflow:hidden;
}
.section-expandable .section-expandable-content-collapsed, .section-expandable .section-expandable-content.is--collapsed{
  height:0;
  padding:var(--space-none) var(--space-m);
  visibility:hidden;
}
.section-expandable .section-expandable-content-collapsed, .section-expandable .section-expandable-content.is--collapsed{
  -servicestudio-height:auto;
  -servicestudio-padding:var(--space-none) var(--space-m) var(--space-m);
}
.section-expandable .section-expandable-content-expanded, .section-expandable .section-expandable-content.is--expanded{
  height:auto;
  padding:var(--space-none) var(--space-m) var(--space-m);
  visibility:visible;
}
.section-expandable .section-expandable-content-animating, .section-expandable .section-expandable-content.is--animating{
  -webkit-transition:all 300ms ease-in-out;
  -o-transition:all 300ms ease-in-out;
  transition:all 300ms ease-in-out;
}
.section-expandable .section-expandable-content.no-padding{
  padding:var(--space-none);
}
.section-expandable .section-expandable-content{
}
.section-expandable .section-expandable-content [data-block*=AnimatedLabel]:first-child .animated-label{
  margin-top:var(--space-s);
}
.section-expandable{
}
.section-expandable .osui-accordion{
  margin-top:2px;
}
.section-expandable .pop-comp-wrapper{
  position:relative;
  -webkit-transform:translate3d(0px, var(--space-xs), 0px) !important;
          transform:translate3d(0px, var(--space-xs), 0px) !important;
}
.tablet .section-expandable .section-expandable-title{
  font-size:calc(var(--font-size-h6) - 1px);
}
.phone .section-expandable .section-expandable-title{
  font-size:calc(var(--font-size-h6) - 2px);
}
.phone .section-expandable .choices__list.choices__list--dropdown, .phone .section-expandable [data-dropdown] > div.dropdown-list{
  position:initial;
}
.layout-native .section-expandable .section-expandable-title{
  padding:var(--space-base);
}
.layout-native .section-expandable .section-expandable-content{
  padding:var(--space-none) var(--space-base);
}
.layout-native .section-expandable .section-expandable-content.is--collapsed{
  padding:var(--space-none) var(--space-base);
}
.layout-native .section-expandable .section-expandable-content.is--expanded{
  padding:var(--space-none) var(--space-base) var(--space-base);
}
.layout-native .section-expandable .section-expandable-content.no-padding{
  padding:var(--space-none);
}
.has-accessible-features .section-expandable .section-expandable-title:focus,
.has-accessible-features .section-expandable .section-expandable-content:focus{
  -webkit-box-shadow:none;
          box-shadow:none;
  outline:3px solid var(--border-color-focus-outer, var(--color-focus-outer));
}
