/*! 6.8.4. Datepicker */
.pika-single{
  background:var(--background-color-neutral-0, var(--color-neutral-0));
  border:var(--border-size-s) solid var(--border-color-neutral-4, var(--color-neutral-4));
  border-radius:var(--border-radius-soft);
  display:block;
  margin-top:var(--space-xs);
  max-width:320px;
  position:relative;
}
.layout-native .pika-single{
  max-width:100%;
}
.pika-single.is-bound{
  -webkit-box-shadow:var(--shadow-s);
          box-shadow:var(--shadow-s);
  position:absolute !important;
  z-index:var(--layer-global-elevated);
}
.pika-single.is-hidden{
  display:none;
}
.pika-title{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  padding:var(--space-m) var(--space-base);
}
.pika-title select{
  cursor:pointer;
  left:0;
  margin:0;
  opacity:0;
  position:absolute;
  right:0;
}
.pika-title .pika-time-container select{
  opacity:1;
  position:static;
}
.pika-labels{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
}
.pika-select-month{
  margin-left:var(--space-base);
  margin-right:0;
}
.year-first .pika-select-month{
  margin-left:var(--space-base);
  margin-right:0;
}
.pika-prev{
  background-color:transparent;
  border:var(--border-size-none);
  color:var(--text-color-neutral-7, var(--color-neutral-7));
  cursor:pointer;
  font:normal normal normal 0 FontAwesome;
  padding:var(--space-none) var(--space-s);
}
.pika-prev:before{
  content:"\f104";
  font-size:var(--font-size-h5);
  position:relative;
}
.pika-next{
  background-color:transparent;
  border:var(--border-size-none);
  color:var(--text-color-neutral-7, var(--color-neutral-7));
  cursor:pointer;
  font:normal normal normal 0 FontAwesome;
  margin-left:var(--space-base);
  padding:var(--space-none) var(--space-s);
}
.pika-next:before{
  content:"\f105";
  font-size:var(--font-size-h5);
  position:relative;
}
.pika-label{
  color:var(--text-color-primary, var(--color-primary));
  cursor:pointer;
  position:relative;
}
.pika-label:first-child{
  margin-right:var(--space-base);
}
.pika-label:hover{
  color:var(--text-color-primary-hover, var(--color-primary-hover));
  text-decoration:underline;
}
.pika-table{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  padding:var(--space-none) var(--space-base) var(--space-base);
  width:100%;
}
.pika-table thead{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
}
.pika-table thead tr{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
}
.pika-table th{
  color:var(--text-color-neutral-7, var(--color-neutral-7));
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  font-weight:var(--font-regular);
}
.pika-table th abbr[title]{
  text-decoration:none;
}
.pika-table tbody{
  margin-top:var(--space-s);
  overflow:hidden;
}
.pika-table tbody tr{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  margin-bottom:var(--space-xs);
}
.pika-table tbody tr:last-child{
  margin-bottom:var(--space-none);
}
.pika-table tbody td{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.pika-button{
  background-color:transparent;
  border:var(--border-size-none);
  border-radius:var(--border-radius-soft);
  color:var(--text-color-neutral-9, var(--color-neutral-9));
  cursor:pointer;
  height:32px;
  padding:var(--space-none);
  position:relative;
  width:32px;
  z-index:var(--layer-local-tier-1);
}
.pika-button:hover{
  background-color:var(--background-color-neutral-3, var(--color-neutral-3));
}
.is-today .pika-button{
  background-color:var(--background-color-neutral-4, var(--color-neutral-4));
}
.is-inrange .pika-button{
  background:var(--background-color-primary, var(--color-primary)) var(--background-color-primary-lightest, var(--color-primary-lightest));
}
.is-startrange .pika-button, .is-selected .pika-button, .is-endrange .pika-button{
  background:var(--background-color-primary, var(--color-primary));
  color:var(--text-color-neutral-0, var(--color-neutral-0));
}
.is-disabled .pika-button, .is-disabled.is-outside-current-month .pika-button{
  color:var(--text-color-neutral-7, var(--color-neutral-7));
  pointer-events:none;
  text-decoration:line-through;
}
.is-outside-current-month .pika-button{
  color:var(--text-color-neutral-7, var(--color-neutral-7));
  text-decoration:none;
}
.has-event .pika-button:before{
  background-color:var(--background-color-primary, var(--color-primary));
  border-radius:var(--border-radius-circle);
  bottom:3px;
  content:"";
  height:4px;
  left:50%;
  margin-left:-2px;
  position:absolute;
  width:4px;
}
.is-selected.has-event .pika-button:before{
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
}
.pika-today-container{
  height:auto;
  margin:var(--space-none) var(--space-none);
  padding:var(--space-none) var(--space-none) var(--space-none);
  width:100%;
}
.pika-today-container:hover{
  background-color:transparent;
}
.pika-go-today{
  background-color:transparent;
  border:var(--border-size-none);
  color:var(--text-color-primary, var(--color-primary));
  cursor:pointer;
  font-weight:normal;
  padding:var(--space-none);
}
.pika-go-today:hover{
  color:var(--text-color-primary-hover, var(--color-primary-hover));
}
.pika-month, .pika-year{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  margin-bottom:var(--space-base);
  width:33.333%;
}
.pika-month.is-selected, .pika-year.is-selected{
  background-color:var(--background-color-primary, var(--color-primary));
  color:var(--text-color-neutral-0, var(--color-neutral-0));
}
.pika-time-container{
  margin:0 var(--space-base);
}
.pika-time-container select{
  background-color:transparent;
  border:0;
  color:var(--text-color-primary, var(--color-primary));
}
.pika-time-container option{
  color:var(--text-color-neutral-10, var(--color-neutral-10));
}
input.OSFillParent.calendar-input{
  display:none;
}
.is-inrange{
  position:relative;
}
.is-inrange:before{
  background:var(--background-color-primary, var(--color-primary)) var(--background-color-primary-lightest, var(--color-primary-lightest));
  border-radius:var(--border-radius-soft);
  content:"";
  height:100%;
  left:-8px;
  position:absolute;
  right:-14px;
  top:0;
}
.is-inrange:first-child:before{
  left:3px;
}
.is-inrange:last-child:before{
  right:3px;
}
.month-picker,
.year-picker{
  -webkit-box-direction:normal;
  -webkit-box-orient:horizontal;
  -ms-flex-direction:row;
  flex-direction:row;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  padding:var(--space-none);
}
.prev-year,
.next-year{
  color:var(--text-color-neutral-7, var(--color-neutral-7));
}
.calendar-help-dialog{
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  bottom:0;
  color:var(--text-color-neutral-10, var(--color-neutral-10));
  display:none;
  left:0;
  padding:var(--space-s);
  position:absolute;
  right:0;
  top:0;
  z-index:var(--laber-global-elevated);
}
.calendar-help-dialog.is--open{
  display:block;
}
.calendar-help-content{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  height:100%;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  overflow-y:auto;
}
.calendar-help-content p{
  margin:0;
}
.calendar-help-content ul{
  padding-left:var(--space-m);
}
.calendar-help-trigger{
  background-color:var(--background-color-info, var(--color-info));
  clip:rect(0, 0, 0, 0);
  color:var(--text-color-neutral-0, var(--color-neutral-0));
  height:0;
  left:50%;
  overflow:hidden;
  padding:var(--space-s);
  position:absolute;
  top:var(--space-xxl);
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
  white-space:nowrap;
  width:0;
}
.calendar-help-trigger:focus{
  clip:initial;
  height:auto;
  overflow:visible;
  width:auto;
  z-index:var(--laber-global-elevated);
}
.calendar-help-close{
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  color:var(--text-color-neutral-10, var(--color-neutral-10));
  height:auto;
}
.portal-class ~ .pika-single.is-bound{
  z-index:calc(var(--layer-above) + var(--popup-layer));
}
.phone .pika-lendar tr{
  border-bottom:0;
}
.phone .pika-time td{
  display:initial;
}
.is-rtl .pika-next{
  margin-left:0;
  margin-right:var(--space-m);
  padding:var(--space-none) var(--space-xs);
}
.is-rtl .pika-next:before{
  content:"\f104";
}
.is-rtl .pika-prev:before{
  content:"\f105";
}
.is-rtl .pika-label:first-child{
  margin-left:var(--space-base);
  margin-right:0;
}
.desktop .has-accessible-features .pika-title select{
  border:none;
  color:var(--text-color-primary, var(--color-primary));
  opacity:1;
}
.desktop .has-accessible-features .pika-title select:hover{
  border-bottom:var(--border-size-s) solid var(--border-color-primary, var(--color-primary));
}
.desktop .has-accessible-features .pika-title select option{
  color:var(--text-color-neutral-10, var(--color-neutral-10));
}
.desktop .has-accessible-features .pika-title .pika-label{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
