/*! 6.8.11. Notification */
.notification{
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  border:var(--border-size-s) solid var(--border-color-neutral-4, var(--color-neutral-4));
  border-radius:var(--border-radius-soft);
  -webkit-box-shadow:var(--shadow-xl);
          box-shadow:var(--shadow-xl);
  color:var(--text-color-neutral-10, var(--color-neutral-10));
  left:50%;
  padding:var(--space-m);
  position:fixed;
  top:0;
  -webkit-transform:translateY(-120%) translateX(-50%);
      -ms-transform:translateY(-120%) translateX(-50%);
          transform:translateY(-120%) translateX(-50%);
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  width:370px;
  z-index:var(--layer-global-off-canvas);
}
.notification{
  -servicestudio--webkit-transform:translateY(0);
  -servicestudio-position:static;
  -servicestudio-transform:translateY(0);
}
.notification-content{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.notification--visible{
  -webkit-transform:translateY(24px) translateX(-50%);
      -ms-transform:translateY(24px) translateX(-50%);
          transform:translateY(24px) translateX(-50%);
}
.notification--visible.notification--animatable{
  -webkit-transition:all 330ms ease-out;
  -o-transition:all 330ms ease-out;
  transition:all 330ms ease-out;
}
.notification--animatable{
  -webkit-transition:all 130ms ease-in;
  -o-transition:all 130ms ease-in;
  transition:all 130ms ease-in;
}
.layout-native .notification{
  left:50%;
  margin-left:-185px;
  -webkit-transform:translateY(-120%) translateX(0);
      -ms-transform:translateY(-120%) translateX(0);
          transform:translateY(-120%) translateX(0);
}
.layout-native .notification{
  -servicestudio-left:0;
  -servicestudio-margin-left:0;
  -servicestudio-transform:none;
}
.layout-native .notification--visible{
  -webkit-transform:translateY(24px) translateX(0);
      -ms-transform:translateY(24px) translateX(0);
          transform:translateY(24px) translateX(0);
}
.slide-from-left-enter .layout-native .notification,
.slide-from-left-leave .layout-native .notification,
.slide-from-right-enter .layout-native .notification,
.slide-from-right-leave .layout-native .notification,
.slide-from-top-enter .layout-native .notification,
.slide-from-top-leave .layout-native .notification,
.slide-from-bottom-enter .layout-native .notification,
.slide-from-bottom-leave .layout-native .notification,
.fade-enter .layout-native .notification,
.fade-leave .layout-native .notification{
  display:none;
}
.tablet .layout-native .notification{
  left:50%;
  margin-left:-185px;
}
.phone .layout-native .notification{
  left:16px;
  margin-left:0;
  right:16px;
  width:auto;
}
.android .layout-native .notification--visible{
  margin-top:max(var(--status-bar-height, 0px), var(--safe-area-inset-top, 0px));
}
.ios.phone.landscape .layout-native .notification{
  left:calc(var(--os-safe-area-left) + 16px);
  right:calc(var(--os-safe-area-right) + 16px);
}
.ios .layout-native .notification--visible{
  margin-top:max(var(--status-bar-height, 0px), var(--safe-area-inset-top, 0px));
}
