/*! 6.8.13. Progress Circle */
.progress-circle{
  position:relative;
}
.progress-circle svg{
  height:100%;
  stroke-linecap:round;
}
.progress-circle .progressbar-text{
  text-align:center;
}
.progress-circle-outer{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding:var(--space-base);
}
.progress-circle-small .progressbar-text{
  font-size:var(--font-size-h4);
}
.progress-circle-medium .progressbar-text{
  font-size:var(--font-size-h3);
}
.progress-circle-large .progressbar-text{
  font-size:var(--font-size-display);
}
/*! 6.8.14. Progress Circle Fraction */
.progress-circle-text{
  left:50%;
  position:absolute;
  top:50%;
  -webkit-transform:translate(-50%, -50%);
      -ms-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
  line-height:1.2;
}
.progress-circle-text{
  -servicestudio--webkit-transform:translate(0);
  -servicestudio-position:static;
}
.progress-circle-text-numerator{
  font-size:var(--font-size-h4);
}
.progress-circle-text-denominator{
  font-size:var(--font-size-h6);
}
.progress-circle-medium .progress-circle-text-numerator{
  font-size:var(--font-size-h1);
}
.progress-circle-medium .progress-circle-text-denominator{
  font-size:var(--font-size-h4);
}
.progress-circle-large .progress-circle-text-numerator{
  font-size:44px;
}
.progress-circle-large .progress-circle-text-denominator{
  font-size:var(--font-size-h2);
}
