/*! 6.8.17. Search */
.search{
  position:relative;
}
.search:empty{
  -servicestudio-height:40px;
}
.search-input{
  position:relative;
}
.search-input:empty{
  -servicestudio-background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  -servicestudio-border-radius:4px;
  -servicestudio-height:40px;
}
.search-input:after{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  color:var(--text-color-neutral-6, var(--color-neutral-6));
  content:"\f002";
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font:normal normal normal 14px/1 FontAwesome;
  height:100%;
  left:16px;
  position:absolute;
  top:0;
}
.search-preview{
  display:none;
}
.search .form-control[data-input]{
  padding-left:var(--space-xl);
}
.form .search input[data-input]{
  margin-bottom:var(--space-none);
}
.is-rtl .search-input:after{
  left:auto;
  right:16px;
}
.is-rtl .search .form-control[data-input]{
  padding-left:var(--space-base);
  padding-right:var(--space-xl);
}
.layout-native .header .search input[data-input], .layout-native .header .search input[data-input]:empty{
  border:var(--border-size-none);
  padding-left:var(--space-xl);
}
.layout-native .header-right .search{
  background-color:transparent;
  padding:var(--space-none);
  position:static;
}
.layout-native .header-right .search.open .search-glass .search-round, .layout-native .header-right .search.open .search-glass .search-stick-bottom{
  height:24px;
  right:17px;
}
.layout-native .header-right .search.open .search-glass .search-round{
  border-radius:var(--border-radius-none);
  -webkit-box-shadow:inset 0 0 0 3px var(--background-color-neutral-6, var(--color-neutral-6));
          box-shadow:inset 0 0 0 3px var(--background-color-neutral-6, var(--color-neutral-6));
  -webkit-transform:rotate(135deg);
      -ms-transform:rotate(135deg);
          transform:rotate(135deg);
  width:3px;
}
.layout-native .header-right .search.open .search-glass .search-stick-bottom{
  background-color:var(--background-color-neutral-6, var(--color-neutral-6));
  top:12px;
  -webkit-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
          transform:rotate(45deg);
}
.layout-native .header-right .search.open .search-input{
  -webkit-transform:translate(0, 0);
      -ms-transform:translate(0, 0);
          transform:translate(0, 0);
}
.layout-native .header-right .search-glass{
  display:inline-block;
  height:44px;
  position:relative;
  width:40px;
}
.layout-native .header-right .search-round{
  border-radius:var(--border-radius-circle);
  -webkit-box-shadow:inset 0 0 0 3px var(--background-color-neutral-6, var(--color-neutral-6));
          box-shadow:inset 0 0 0 3px var(--background-color-neutral-6, var(--color-neutral-6));
  height:16px;
  margin-top:-10px;
  position:absolute;
  right:13px;
  top:50%;
  -webkit-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
  width:16px;
}
.layout-native .header-right .search-stick-bottom{
  background-color:var(--background-color-neutral-6, var(--color-neutral-6));
  content:"";
  height:10px;
  position:absolute;
  right:12px;
  top:23px;
  -webkit-transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
          transform:rotate(-45deg);
  -webkit-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
  width:3px;
}
.layout-native .header-right .search-input{
  left:var(--os-safe-area-left);
  position:absolute;
  right:0;
  top:var(--os-safe-area-top);
  -webkit-transform:translate(0, calc(-100% - var(--os-safe-area-top)));
      -ms-transform:translate(0, calc(-100% - var(--os-safe-area-top)));
          transform:translate(0, calc(-100% - var(--os-safe-area-top)));
  -webkit-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
}
.layout-native .header-right .search-input input[data-input], .layout-native .header-right .search-input input[data-input]:empty{
  height:34px;
  padding-left:var(--space-xl);
  -webkit-transition:none;
  -o-transition:none;
  transition:none;
}
.layout-native .header-right .search-input input[data-input]:focus{
  border-bottom:var(--border-size-s) solid transparent;
}
.layout-native .header-right .search-input ::-webkit-input-placeholder{
  color:var(--text-color-neutral-6, var(--color-neutral-6));
}
.layout-native .header-content .search input[data-input], .layout-native .header-content .search input[data-input]:empty{
  border-radius:var(--border-radius-none);
  height:var(--header-size);
}
.slide-from-left-enter .layout-native .header-right .search-input,
.slide-from-left-leave .layout-native .header-right .search-input,
.slide-from-right-enter .layout-native .header-right .search-input,
.slide-from-right-leave .layout-native .header-right .search-input,
.slide-from-top-enter .layout-native .header-right .search-input,
.slide-from-top-leave .layout-native .header-right .search-input,
.slide-from-bottom-enter .layout-native .header-right .search-input,
.slide-from-bottom-leave .layout-native .header-right .search-input,
.fade-enter .header-right .layout-native .search-input,
.fade-leave .header-right .layout-native .search-input{
  display:none;
}
