#hero {
  width: 200vw;
  aspect-ratio: 1 / 1;
  background-color: rgba(138, 43, 226, 0.6);
  clip-path: circle(50% at 50% 50%);
  margin-left: -50vw;
  transform: translateY(-75%);
  filter: drop-shadow(0 0 80px rgba(255, 255, 255, 1));
}