#hero {
  background: linear-gradient(circle at center top, 
                             yellow 0%, 
                             orange 30%, 
                             red 60%, 
                             transparent 100%);
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  position: relative;
}

#hero::before {
  aspect-ratio: 1 / 1;
  background: radial-gradient(circle, 
                             cyan 0%, 
                             blue 40%, 
                             transparent 70%);
  content: '';
  display: block;
  left: 50%;
  top: 0;
  transform: translate(-50%, -60%);
  width: 150vw;
}