@use '../base/variables';

$stars: 350;
$speed: 3s;
$width: 3000;
$height: 960;

.stars-wrapper {
  background: var(--base-200);
  clip-path: ellipse(60vw 33.75vw at 50% 0%); /* Moved from -20% to 0% */
  height: 100%;
  inset: 0;
  overflow: hidden;
  perspective: 340px;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.stars {
  $box-shadow: ();
  @for $i from 0 through $stars {
    $box-shadow: $box-shadow, (random($width) - $width / 2) * 1px (random($height) - $height / 2) * 1px hsl(90, 0%, (75 + random(25)) * 1%);
  }

  animation: stars-fly $speed linear infinite;
  border-radius: 50%;
  box-shadow: $box-shadow;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  width: 2px;

  &:before, &:after {
    box-shadow: inherit;
    content: "";
    height: inherit;
    position: absolute;
    width: inherit;
  }
  &:before {
    animation: stars-fade1 $speed linear infinite;
    transform: translateZ((-1 * variables.$depth) * 1px);
  }
  &:after {
    animation: stars-fade2 $speed linear infinite;
    transform: translateZ((-2 * variables.$depth) * 1px);
  }
}