@use '../base/variables';

$stars: 350;         // Number of start per layer
$speed: 3s;          // Number of seconds to transition between layers
$width: 3000;        // Width of the starfield
$height: 960;        // Height of the starfield

.stars-wrapper {
  background: var(--base-200);
  height: 100%; // adjust as needed
  overflow: hidden;
  perspective: 340px;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 0;
}
.stars {

  $box-shadow: ();
  @for $i from 0 through $stars {
    $box-shadow: $box-shadow, (random($width) - $width / 2) * 1px (random($height) - $height / 2) * 1px hsl(90, 0%, (75 + random(25)) * 1%);
  }

  animation: stars-fly $speed linear infinite;
  border-radius: 50%; // rounded stars - remove or set to 0 if you want squared stars/particles
  box-shadow: $box-shadow;
  height: 2px; // adjust as needed, works with 1px too
  left: 50%;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  width: 2px; // adjust as needed, works with 1px too

  &:before, &:after {
    box-shadow: inherit;
    content: "";
    height: inherit;
    position: absolute;
    width: inherit;
  }
  &:before {
    animation: stars-fade1 $speed linear infinite;
    transform: translateZ((-1 * variables.$depth) * 1px);
  }
  &:after {
    animation: stars-fade2 $speed linear infinite;
    transform: translateZ((-2 * variables.$depth) * 1px);
  }
}
