/*! 4.18. Radio Button */
.radio-button{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  cursor:pointer;
  -ms-flex-negative:0;
      flex-shrink:0;
  height:24px;
  position:relative;
  -webkit-transition:all 180ms linear;
  -o-transition:all 180ms linear;
  transition:all 180ms linear;
  width:24px;
}
.radio-button:before, .radio-button:after{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
.radio-button:before{
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  border:var(--border-size-s) solid var(--border-color-neutral-5, var(--color-neutral-5));
  border-radius:var(--border-radius-rounded);
  content:"";
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:100%;
  -webkit-transition:all 180ms linear;
  -o-transition:all 180ms linear;
  transition:all 180ms linear;
  width:100%;
}
.radio-button:hover:before{
  border:var(--border-size-s) solid var(--border-color-neutral-6, var(--color-neutral-6));
}
.radio-button:focus:before{
  -webkit-box-shadow:0 0 0 2px var(--background-color-focus, var(--color-focus));
          box-shadow:0 0 0 2px var(--background-color-focus, var(--color-focus));
}
.radio-button:checked:before{
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  border:6px solid var(--border-color-primary, var(--color-primary));
}
.radio-button:checked:hover:before{
  -webkit-filter:brightness(0.9);
          filter:brightness(0.9);
}
.radio-button:disabled{
  background-color:transparent;
  border:none;
  pointer-events:none;
}
.radio-button:disabled + label{
  pointer-events:none;
  color:var(--text-color-neutral-6, var(--color-neutral-6));
}
.radio-button:disabled:before{
  background-color:var(--background-color-neutral-2, var(--color-neutral-2));
  border:var(--border-size-s) solid var(--border-color-neutral-4, var(--color-neutral-4));
}
.radio-button:disabled:checked:before{
  background-color:var(--background-color-neutral-2, var(--color-neutral-2));
  border:6px solid var(--border-color-neutral-4, var(--color-neutral-4));
}
.radio-group.is-horizontal{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}
.radio-group.is-horizontal > div{
  display:contents;
}
.radio-group.is-horizontal [data-radio-button]{
  width:auto;
}
.radio-group.is-horizontal [data-radio-button]:not(:first-of-type){
  margin-left:var(--space-base);
}
[data-radio-group].not-valid [data-radio-button] .radio-button:before{
  border:var(--border-size-s) solid var(--border-color-error, var(--color-error));
}
[data-radio-group].not-valid [data-radio-button] .radio-button:checked:before{
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  border:6px solid var(--border-color-primary, var(--color-primary));
}
[data-radio-group] [data-radio-button]{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  margin:var(--space-s) 0;
}
[data-radio-group] [data-radio-button] label{
  cursor:pointer;
  line-height:1;
  margin-bottom:0;
  margin-left:var(--space-s);
}
[data-radio-button]:not(.OSFillParent):not([class*=ThemeGrid_Width]){
  -servicestudio-display:flex;
}
.has-accessible-features .radio-button{
  border-radius:var(--border-radius-rounded);
}
.has-accessible-features .radio-button:before{
  border-color:var(--border-color-neutral-7, var(--color-neutral-7));
}
.has-accessible-features .radio-button:after{
  background-color:var(--background-color-neutral-0, var(--color-neutral-0));
  border-radius:100%;
  content:"";
  height:12px;
  left:50%;
  margin-left:-6px;
  margin-top:-6px;
  position:absolute;
  top:50%;
  width:12px;
}
.has-accessible-features .radio-button:focus:before{
  background-color:var(--background-color-primary, var(--color-primary));
  border-color:var(--border-color-focus-inner, var(--color-focus-inner));
  -webkit-box-shadow:none;
          box-shadow:none;
}
.has-accessible-features .radio-button:checked:before{
  border-color:var(--border-color-primary, var(--color-primary));
}
.has-accessible-features .radio-button:hover:before{
  border-color:var(--border-color-neutral-8, var(--color-neutral-8));
}
.has-accessible-features [data-radio-group].not-valid [data-radio-button] .radio-button:checked:before{
  border-color:var(--border-color-primary, var(--color-primary));
}
.is-rtl [data-radio-group] label{
  margin-left:var(--space-none);
  margin-right:var(--space-s);
}
.is-rtl .radio-group.is-horizontal [data-radio-button]:not(:first-of-type){
  margin-left:unset;
  margin-right:var(--space-base);
}
