/*! 4.2. Switch */
[data-switch]{
  background-color:transparent;
  border-radius:0;
  height:32px;
  overflow:initial;
  width:50px;
}
[data-switch]:empty:before{
  background-color:var(--background-color-neutral-5, var(--color-neutral-5));
  border:var(--border-size-s) solid var(--border-color-neutral-5, var(--color-neutral-5));
  border-radius:var(--border-radius-rounded);
  height:30px;
  opacity:1;
  -webkit-transition:all 180ms linear;
  -o-transition:all 180ms linear;
  transition:all 180ms linear;
  width:48px;
}
[data-switch]:empty:after{
  border:0;
  bottom:0;
  -webkit-box-shadow:none;
          box-shadow:none;
  height:24px;
  left:0;
  margin-left:0;
  top:4px;
  -webkit-transform:translateX(4px) translateZ(0);
          transform:translateX(4px) translateZ(0);
  -webkit-transition:all 180ms linear;
  -o-transition:all 180ms linear;
  transition:all 180ms linear;
  width:24px;
}
[data-switch]:hover:before{
  background-color:var(--background-color-neutral-6, var(--color-neutral-6));
  border:var(--border-size-s) solid var(--color-neutral-6);
}
[data-switch]:checked:before{
  background-color:var(--background-color-primary, var(--color-primary));
  border:var(--border-size-s) solid var(--border-color-primary, var(--color-primary));
}
[data-switch]:checked:after{
  -webkit-transform:translateX(22px) translateZ(0);
          transform:translateX(22px) translateZ(0);
}
[data-switch][disabled]{
  pointer-events:none;
}
[data-switch][disabled]:empty:before{
  background-color:var(--background-color-neutral-2, var(--color-neutral-2));
  border:var(--border-size-s) solid var(--border-color-neutral-4, var(--color-neutral-4));
}
[data-switch][disabled]:empty:after{
  background-color:var(--background-color-neutral-5, var(--color-neutral-5));
  border:0;
}
.has-accessible-features [data-switch]{
  border-radius:var(--border-radius-rounded);
}
.has-accessible-features [data-switch]:empty:before{
  background-color:var(--background-color-neutral-7, var(--color-neutral-7));
  border-color:var(--border-color-neutral-7, var(--color-neutral-7));
}
.has-accessible-features [data-switch]:hover:before{
  background-color:var(--background-color-neutral-8, var(--color-neutral-8));
  border-color:var(--border-color-neutral-8, var(--color-neutral-8));
}
.has-accessible-features [data-switch]:checked:before{
  background-color:var(--background-color-primary, var(--color-primary));
  border-color:var(--border-color-primary, var(--color-primary));
}
.has-accessible-features [data-switch]:focus:before{
  border-color:var(--border-color-focus-inner, var(--color-focus-inner));
}
.os-high-contrast [data-switch]:empty:after{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  border:var(--border-size-s) solid var(--border-color-neutral-6, var(--color-neutral-6));
  content:"0";
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font-family:monospace;
  font-size:var(--font-size-xs);
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  left:-1px;
  top:3px;
}
.os-high-contrast [data-switch]:checked:after{
  content:"1";
}
