/*! 3.11. Content */
.content{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  position:relative;
}
.content-breadcrumbs{
  margin-bottom:var(--space-base);
}
.content-top{
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
.content-top-title{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  margin-bottom:var(--space-l);
}
.content-top-title .Title_Links{
  font-size:var(--font-size-s);
  font-weight:var(--font-regular);
}
.content-top-actions{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
  margin-bottom:var(--space-l);
  text-align:right;
}
.content-top-title, .content-top-actions{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}
.content-top-title > div:not([class*=ThemeGrid_Width]), .content-top-actions > div:not([class*=ThemeGrid_Width]){
  width:100%;
}
.content-middle{
  position:relative;
}
.content-middle{
  -servicestudio-min-height:420px;
}
.main-content{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  position:relative;
}
.layout-native .content{
  background-color:var(--background-color-body, var(--color-background-body));
}
.layout-native .content-middle{
  height:100%;
}
.phone .content-top{
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}
.phone .content-top-actions, .phone .content-top-title{
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  width:100%;
}
