/*! 6.6.2. Button Loading */
.osui-btn-loading{
  -servicestudio-display:inline-flex;
}
.osui-btn-loading-show-spinner.osui-btn-loading--is-loading .btn{
  font-size:0;
}
.osui-btn-loading-show-spinner.osui-btn-loading--is-loading .btn .osui-btn-loading__spinner-animation{
  margin-right:var(--space-none);
}
.osui-btn-loading-show-spinner.osui-btn-loading--is-loading .btn > span[data-expression]{
  display:none;
}
.osui-btn-loading.osui-btn-loading--is-loading, .osui-btn-loading.osui-btn-loading--is-loading *{
  pointer-events:none;
}
.osui-btn-loading.osui-btn-loading--is-loading .btn .osui-btn-loading__spinner-animation{
  display:inline-block;
}
.osui-btn-loading .btn{
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -webkit-transition:none;
  -o-transition:none;
  transition:none;
  vertical-align:middle;
  white-space:nowrap;
}
.osui-btn-loading .btn{
  -servicestudio-display:inline-flex;
}
.osui-btn-loading .btn > *{
  display:inline-block;
  font-size:var(--font-size-s);
  vertical-align:middle;
}
.osui-btn-loading .btn .osui-btn-loading__spinner-animation{
  display:none;
  -webkit-animation:loadingSpinner 850ms cubic-bezier(0.7, 1.05, 0.78, 0.78) infinite;
          animation:loadingSpinner 850ms cubic-bezier(0.7, 1.05, 0.78, 0.78) infinite;
  border:var(--border-size-m) solid currentColor;
  border-radius:var(--border-radius-circle);
  border-top-color:transparent;
  height:16px;
  margin-right:var(--space-s);
  width:16px;
  will-change:transform;
}
.osui-btn-loading .btn .osui-btn-loading__spinner-animation{
  -servicestudio-margin-right:var(--space-s);
}
.osui-btn-loading .btn > span[data-expression]{
  white-space:nowrap;
}
.is-rtl .osui-btn-loading-show-spinner.osui-btn-loading--is-loading .btn .osui-btn-loading__spinner-animation{
  margin-left:var(--space-none);
}
.is-rtl .osui-btn-loading--is-loading .btn .osui-btn-loading__spinner-animation{
  margin-left:var(--space-s);
  margin-right:var(--space-none);
}
.phone .osui-btn-loading{
  width:100%;
}
.os-high-contrast .osui-btn-loading .btn .osui-btn-loading__spinner-animation{
  border-width:var(--border-size-l);
  border-bottom:none;
  border-top:none;
}
