/*! 6.6.3. Center Content */
.center-content{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  height:100%;
  width:100%;
}
.center-content{
  -servicestudio-height:auto !important;
}
.center-content-header{
  width:100%;
}
.center-content-container{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  width:100%;
}
.center-content-container > div{
  width:100%;
}
.center-content-bottom{
  width:100%;
}
.animate .center-content{
  -servicestudio-display:table;
}
