/*! 6.6.7. List Updating */
.list-updating{
  height:40px;
  margin-top:var(--space-m);
  position:relative;
}
.list-updating:before{
  -webkit-animation:spin 1s infinite linear, fade 300ms ease;
          animation:spin 1s infinite linear, fade 300ms ease;
  border:5px solid var(--border-color-neutral-5, var(--color-neutral-5));
  border-radius:50%;
  border-top-color:var(--border-color-neutral-7, var(--color-neutral-7));
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  content:"";
  height:40px;
  left:50%;
  margin-left:-20px;
  position:absolute;
  width:40px;
}
.list-updating:before{
  -servicestudio--webkit-animation:none;
  -servicestudio-animation:none;
}
