/*! 6.7.2. Dropdown ServerSide Item */
.osui-dropdown-serverside-item{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  background-color:transparent;
  color:var(--text-color-neutral-9, var(--color-neutral-9));
  cursor:pointer;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  min-height:40px;
  overflow:hidden;
  padding:var(--space-s) var(--space-base);
  position:relative;
  -webkit-transition:background 250ms ease;
  -o-transition:background 250ms ease;
  transition:background 250ms ease;
  width:100%;
  z-index:var(--layer-global-screen);
}
.osui-dropdown-serverside-item:hover, .osui-dropdown-serverside-item--is-selected{
  background-color:var(--background-color-neutral-2, var(--color-neutral-2));
  z-index:var(--layer-local-tier-1);
}
.osui-dropdown-serverside-item:hover, .osui-dropdown-serverside-item--is-selected{
  -servicestudio-background-color:var(--background-color-neutral-0, var(--color-neutral-0));
}
.osui-dropdown-serverside-item__content{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  height:inherit;
  overflow:hidden;
  pointer-events:none;
}
.osui-dropdown-serverside-item__content > *:first-child{
  overflow:hidden;
  -o-text-overflow:ellipsis;
     text-overflow:ellipsis;
  white-space:nowrap;
  width:100%;
}
.has-accessible-features .osui-dropdown-serverside-item:hover{
  background-color:var(--background-color-neutral-4, var(--color-neutral-4));
}
.has-accessible-features .osui-dropdown-serverside-item:focus{
  -webkit-box-shadow:inset 0 0 0 3px var(--background-color-focus-outer, var(--color-focus-outer));
          box-shadow:inset 0 0 0 3px var(--background-color-focus-outer, var(--color-focus-outer));
}
.os-high-contrast .osui-dropdown-serverside-item:hover, .os-high-contrast .osui-dropdown-serverside-item:focus{
  outline:none;
}
.os-high-contrast .osui-dropdown-serverside-item:hover:before, .os-high-contrast .osui-dropdown-serverside-item:focus:before{
  border:var(--border-size-l) solid var(--border-color-focus-outer, var(--color-focus-outer));
  bottom:0;
  content:"";
  display:block;
  left:0;
  position:absolute;
  right:0;
  top:0;
}
.tablet .osui-dropdown-serverside-item,
.phone .osui-dropdown-serverside-item{
  height:48px;
}
